body
  background-color: DarkGray
  background-size: cover

@media screen and (min-device-aspect-ratio: 9/16)
  body
    background-image: url("img/mal0-16x9.png")
    background-color: blue

@media screen and (min-device-aspect-ratio: 9/18.5)
  body
    background-image: url("img/mal0-18.5x9.png")
    background-color: green
